.NewExpense {
  padding: 20px;
}


.NewExpense-form{
  border: 3px solid white;
  padding: 50px;
  text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #732bf0 !important;
    color: #fcd603;
    border: #732bf0;
    box-shadow: 5px 10px black;

}

.NewExpense-title{
  text-align: center;
  background-color: #732bf0;

}

.NewExpense-header{
  background-color: #732bf0;
  color: #fcd603;
  text-align: center;

}

.NewExpense-submit{
  width: 10em !important;
  text-align: center;
  margin-left: 6em;
}

.NewExpense-submit a:hover{
  width: 10em !important;
  text-align: center;
  margin-left: 6em;
}
