Table {
  table-layout: fixed;
  margin:0 auto;
  width: 80%;
  border: black !important;
}

.SingleExpense {
  text-align: left
}

.SingleExpense-body {
  text-align: left !important;
  color: black;

}

.SingleExpense-row{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: left

}

.td {
  text-align: left;
}
