.TML{
  margin-top: 2em;
  color:#732bf0 !important;
}
@media only screen and (min-width : 300px) {
  .TML{
    font-size: 1em;
    margin-top: 1em;
  }
}
@media only screen and (min-width : 350px) {
  .TML{
    font-size: 1em;
    margin-top: 1em;
  }
}

@media only screen and (min-width : 768px) {
  .TML{
    font-size: 1em;
    margin-top: 1em;

  }
}
  @media only screen and (min-width : 1440px) {
    .TML{
      font-size: 2em;
      margin-top: 1em;

    }
}
@media only screen and (min-width : 2000px) {
  .TML{
    font-size: 2em;
    margin-top: 1em;

  }
}
